@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.pertama{
    background-color: #ffffff;
}

section{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.satu{
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.406);
    border-right: solid 10px black;
    border-bottom: solid 5px black;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.judul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.judul h1{
    font-size:  60px;
  font-family: "Bebas Neue", sans-serif;
}

.poto{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poto img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 3px 2px;
}

.medsos{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000c1;
    padding: 10px 50px;
}
.medsos h1{
    font-size: 18px;
}
.footer{
    padding: 0px 20px;
}

.footer p{
    text-align: justify;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.669);
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

